mlflow
boto3
pandas
numpy
scikit-learn
psycopg2-binary
pymysql
cryptography
#evidently 
snowflake-connector-python
#prefect
tqdm
requests
joblib
pyarrow
jupyter
jupyterlab
psycopg
matplotlib
getenv
snowflake-ml-python
python-dotenv
getenv






